.centrado {
	position: absolute;
	max-width: 400px;
	max-height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.full {
    background: url(img/pizza.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*INDEX*/



.menu{
    padding-top: 1.5%;    
}

.titulo{
    padding-left: 4%;
}

#img1{
    background-color: black;
    height: 200px;
}
#img2{
    background-color: red;
     height: 100px;
}
.cabGrandeTitulo{
    position: absolute;
    background-color: aqua;
    opacity: 0.6;
    font-family: ‘Lucida Console’, Monaco, monospace;
    color: snow;
    font-size: 50px;    
}

.cabGrande1{
    padding-top: 60px;
    padding-left: 90px;
}

.cabGrande2{
    padding-top: 60px;
    padding-left: 135px;
}


/* Cabecera*/
#cab1{
    height: 200px;
/*    width: 348.75px;*/
    background: url(img/CabRestaurantes.png) center center;
}

#cab2{
    height: 100px;
/*    width: 470px;*/
    background: url(img/CabRecetas.png) center center;
}

#cab3{
    height: 100px;
/*    width: 470px;*/
    background: url(img/CabPlatoRestaurante.png) center center;
}

#cab4{
    height: 200px;
/*    width: 348.75px;*/
    background: url(img/CabFavoritos.png) center center;
}

#cab5{
    height: 100px;
/*    width: 235.5px;*/
    background: url(img/CabRestauranteMes.png) center center;
}

#cab6{
    height: 100px;
/*    width: 235px;*/
    background: url(img/CabPlato.png) center center;
}




/* PlatosFavoritos/RestauranteDelMes */
 #imgFavGrande{
    background-color: red;
    height: 600px;
    background: url(img/FavoritoGrande4.png) center center;
}

.tituloGrande{
    background-color: aqua;
    opacity: 0.5;
}

.imagenGrande {
    padding-left: 0px;
    padding-right: 0px;
/*    width: 930px;*/
    height: 600px;
}

.tituloPequenio {
    background-color: aqua;
    opacity: 0.5;
}

.imagenPequenia{
/*    width: 465px;*/
    height: 150px;
}

#imgFav1{
    background: url(img/FavoritoPequenio1.png) center center;
}

#imgFav2{
    background: url(img/FavoritoPequenio2.png) center center;
}

#imgFav3{
    background: url(img/FavoritoPequenio3.png) center center;
}

#imgFav4{
    background: url(img/FavoritoPequenio4.png) center center;
}

#imgRestGrande{
    background-color: red;
    height: 600px;
    background: url(img/TGBGrande.jpg) center center;
}

#imgRest1{
    background: url(img/FosterPequenio.jpg) center center;
}

#imgRest2{
    background: url(img/TagliatellaPequenio.jpg) center center;
}

#imgRest3{
    background: url(img/TGBPequenio.jpg) center center;
}

#imgRest4{
    background: url(img/RibsPequenio.png) center center;
}

/* Fin PlatosFavoritos/RestauranteDelMes */

#cont-youtube {
    
    position: relative;
    padding-bottom: 75px;
    height: 100px;
    
    overflow:hidden;
    display:block;
    
}



#img22{
    background-color: red;
}

#img33{
    background-color: green;
    height: 150px;
}
#img44{
    background-color: blueviolet;
    height: 150px;
}
#img55{
    background-color: green;
    height: 150px;
}



#img11{
    background-color: black;
}

#img3{
    background-color: green;
    height: 100px;
}
#img4{
    background-color: blueviolet;
    height: 200px;
}
#img5{
    background-color: black;
    height: 100px;
}
#img6{
    background-color: blue;
    height: 100px;
}
.descripcion {
    text-align: center; 
    padding: 2%;
}
.descripcion #texto{
    margin: 3%;
}
.zonaBusq {
    padding-bottom: 1%;
}
.zonaBusq form {
    width: 500px;
}
.zonaBusq .busqueda{
    width: 91%;
    float: left;
}
.zonaBusq .form-group button {
    float: right;
}
.container-fluid {
    padding-bottom: 4%;
}

.platosFav h1{
    text-align: center;
}

.imagenGrande {
    padding-left: 0px;
}


 


.masPlatos{
    padding-top: 5%; 
    padding-bottom: 5%;
}

.btnMasPlatos{
    width: 50%;
    height: 200%;
    padding: 2%;
    font-size: 240%
    
}

.masRest{
    padding-top: 5%; 
    padding-bottom: 5%;
}

.btnMasRest{
    width: 50%;
    height: 200%;
    padding: 2%;
    font-size: 240%
}

.seccInter{
    padding-left: 15%;
    padding-right: 10%;

}

.seccInter h3{
    text-align: center;
    padding-bottom: 2%;
    
}
.seccInter ul{
    list-style: none;
}

.seccInter .resources{
    padding-left: 2%;
    padding-right: 2%;
}

.footer{
    background-color: bisque;
}

.footer .enlaces ul{
    list-style: none;
}

.footer .imagenes img{
    padding-right: 8%;    
}

/* Fin de Index */

/* Recetas y restaurantes */
.recetas-h1 {
    margin-bottom: 50px;
}
.centrado-pagination {
    position: relative;
    margin-left: -130px;
    left: 50%;
}
/* Recetas y restaurantes */

/* Receta */
.thumbnail-receta {
    width: 100%;
    height: 450px;
    background: url(img/pabellon-criollo.jpg) no-repeat 50% fixed;
    background-size: 100%;
}
.info-usuario {
    padding-left: 4%;
}
.fecha {
    float: left;
}
.restaurante {
    float: left;
    margin-left: 15px;
}
.contenido {
    padding-top: 20px;
    font-size: 18px;
}
.contenido img {
    width: 100%;
    height: auto !important;
    margin-bottom: 20px;
}
.recetas1, .recetas2, .recetas3 {
    width: 33.33%;
    height: 200px;
    float: left;
}
.recetas1 {
    background: black;
}
.recetas2 {
    background: red;
}
.recetas3 {
    background: blue;
}
.comentario {
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
}
.comentario img {
    float: left;
    width: 9.77%;
}
.comentario div {
    float: left;
    width: 85.23%;
    margin-left: 20px;
}
.comentario span {
    font-weight: bold;
    font-size: 30px;
}
/* Fin de receta */

/* Restaurante */
.thumbnail-restaurante {
    width: 100%;
    height: 450px;
    background: url(img/fostershollywood-restaurante.jpg) no-repeat 0 30px fixed;
    background-size: 100%;
}