.centrado {
	position: absolute;
	max-width: 400px;
	max-height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.full {
    background: url(img/pizza.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*INDEX*/

.menu{
    padding-top: 1.5%;    
}

.titulo{
    padding-left: 4%;
}

#img1{
    background-color: black;
    height: 200px;
}
 #img2{
    background-color: red;
     height: 100px;
}
#img3{
    background-color: green;
    height: 100px;
}
#img4{
    background-color: blueviolet;
    height: 200px;
}
#img5{
    background-color: black;
    height: 100px;
}
#img6{
    background-color: blue;
    height: 100px;
}
.descripcion {
    text-align: center; 
    padding: 2%;
}
.descripcion #texto{
    margin: 3%;
}
.zonaBusq {
    padding-bottom: 1%;
}
.zonaBusq form {
    width: 500px;
}
.zonaBusq .busqueda{
    width: 91%;
    float: left;
}
.zonaBusq .form-group button {
    float: right;
}
.container-fluid {
    padding-bottom: 4%;
}

.platosFav h1{
    text-align: center;
}

#img11{
    background-color: black;
    height: 600px;
    
}
 #img22{
    background-color: red;
     height: 150px;
      
}
#img33{
    background-color: green;
    height: 150px;
}
#img44{
    background-color: blueviolet;
    height: 150px;
}
#img55{
    background-color: green;
    height: 150px;
}

.masPlatos{
    padding-top: 5%; 
    padding-bottom: 5%;
}

.btnMasPlatos{
    width: 50%;
    height: 200%;
    padding: 2%;
    font-size: 240%
    
}

.masRest{
    padding-top: 5%; 
    padding-bottom: 5%;
}

.btnMasRest{
    width: 50%;
    height: 200%;
    padding: 2%;
    font-size: 240%
}

.seccInter{
    padding-left: 15%;
    padding-right: 10%;

}

.seccInter h3{
    text-align: center;
    padding-bottom: 2%;
    
}
.seccInter ul{
    list-style: none;
}

.seccInter .resources{
    padding-left: 2%;
    padding-right: 2%;
}

.footer{
    background-color: bisque;
}

.footer .enlaces ul{
    list-style: none;
}

.footer .imagenes img{
    padding-right: 8%;    
}