.centrado {
	position: absolute;
	max-width: 400px;
	max-height: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.full {
	background: url(img/pizza.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*INDEX*/

.menu{
    padding-top: 1.5%;    
}

.titulo{
    padding-left: 4%;
}

.menu1{
    padding-top: 2%;
    padding-bottom: 2%;
}

#img1{
    background-color: black;    
}
 #img2{
    background-color: red;
    
}
#img3{
    background-color: black;
}
#img4{
    background-color: blueviolet;
}
#img5{
    background-color: black;
}
#img6{
    background-color: blue;
}

.descripcion {
    text-align: center; 
    padding: 2%;
}

.descripcion #texto{
    margin: 3%;
    
}

