<div class="row">
    <div class="col-xs-12 col-md-12 menu_imgs">
        <div class="col-xs-3 col-md-3" id="cab1">
            <p class="tituloGrande">Restaurantes</p>
        </div>
        <div class="col-xs-4 col-md-4">
            <div class="row" id="cab2">
                <p class="tituloGrande">Recetas</p>
            </div>
            <div class="row" id="cab3">
                <p class="tituloGrande">Platos de Restaurantes</p>
            </div>
        </div>
        <div class="col-xs-3 col-md-3" id="cab4">
            <p class="tituloGrande">Favoritos</p>
        </div>
        <div class="col-xs-2 col-md-2">
            <div class="row" id="cab5">
                <p class="tituloGrande">Restaurante del mes</p>
            </div>
            <div class="row" id="cab6">
                <p class="tituloGrande">Plato del mes</p>
            </div>
        </div>
    </div>
</div>